<table class="table">
  <thead class="head-color">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Project-Type</th>
      <th scope="col">Budget</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of allUsers">
      <th scope="row">{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.projectType}}</td>
      <td>{{user.budget}}</td>
      <td>{{user.message}}</td>
    </tr>
  </tbody>
</table>