<!-- NavBar -->
<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand active" routerLink="">
        <img src="./assets/cloudbrick.png">
      </a>
      <a class="logout" (click)="onLogOut()">Logout</a>
    </div>
  </nav>
</header>
<table class="table ">
  <thead class="head-color">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Project-Type</th>
      <th scope="col">Budget</th>
      <th scope="col">Message</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of allUsers">
      <th scope="row">{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.projectType}}</td>
      <td>{{user.budget}}</td>
      <td>{{user.message}}</td>
      <td><img src="assets/delete.png" (click)="deleteClients(user.id)" class="delete"></td>
    </tr>
  </tbody>
</table>

<table class="table ">
  <thead class="head-color">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let email of allEmails">
      <th scope="row">{{email.id}}</th>
      <td>{{email.email}}</td>
      <td><img src="assets/delete.png" (click)="deleteClientEmail(email.id)" class="delete"></td>
    </tr>
  </tbody>
</table>