header, body{
  /* padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem; */
  font-family: 'KoHo', sans-serif;
}
.rows{
  margin-right: 15px;
  margin-left: 15px;
}
.navli{
  text-decoration: none;
}
.mice{
  cursor: pointer;
}
/* NavBar */
header img {
  margin-left: 70px ;
  width: 90px;
  height: 90px;
}
navbar-nav a {
  color:#8cc2fb; 
  font-weight: bolder
}
.navbar-btn{
  border-color: blue ;
}
/* Services */
.services-container{
  margin-top: 50px;
  width: 100%;
  margin-bottom: 40px;
  position:relative;
  font-family: 'Quicksand', sans-serif;
}
.services-list {
  width: 350px;
  height: 60px;
  background-color: rgb(241 238 238);
  margin-bottom: 25px;
  box-sizing: border-box;
  border-radius:10px;
  transition: all .5s;
}
.services-list:hover {
  color: white;
  width: 350px;
  height: 75px;
  background-color: #4285f4;
  box-sizing: border-box;
  border-radius:20px;
}
.services-list p {
  display: inline;
  position: absolute;
  left: 100px;
}
.describe-service{
box-sizing: border-box;
background-color: rgb(241 238 238);
width:300px;
height:300px;
border: 2px solid #4285f4;
border-radius: 20px;
/* position:absolute;
top:5px;
left:200px; */
}
.visit-us p{
  padding-left: 10px;
  color:blue;
}
/* footer */
.foot {
  background-color: #4285f4;
  margin-right: 0px;
  color: white;
  padding-bottom: 30px;
}
footer img {
  width: 90px;
  height: 90px;
  margin-top: 20px;
  margin-left: 20px;
}
.footr{
  /* align-items: center; */
  padding-top: 20px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
.footr h5 {
  font-weight: bold;
}
.footr-p{
  padding-left: 20px;
  padding-top: 20px;
}
.services-list img {
  width: 30px;
  height: 30px;
}
div h3 {
  margin-top: 10px;
  width: 35%;
}
.line {
  margin-top: 10px;
  background-color: #4285f4;
  width: 150px;
  height: 2px;
}
@media screen and (max-width:600px) {
  header, body{
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 3rem;
  }
  .services{
    flex-direction: column;
  }

  
  
}