<!-- NavBar -->
<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light ">
      <div class="container-fluid">
        <a class="navbar-brand active" routerLink="/home">
          <img src="./assets/cloudbrick.png">
        </a>
        <button (click)="isShown=!isShown" class="navbar-toggler navbar-btn" type="button" data-bs-toggle="collapse"
          href="#navbarNavAltMarkup" data-bs-targetg="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end " [ngClass]="{ 'show': isShown }"
          id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link mice" style="padding-right:40px; font-weight: bolder;" aria-current="page" href="#">ABOUT US</a>
            <a class="nav-link" style="padding-right:40px; font-weight: bolder;" routerLink="/services">SERVICES</a>
            <a class="nav-link" style="font-weight: bolder;" routerLink="/contact-us">CONTACT US</a>
  
          </div>
        </div>
      </div>
    </nav>
  </header>
<div class="container">
    <div class="line"></div>
    <div>
        <h3 style="font-family: 'KoHo', sans-serif;">At CloudBrick, we bring solutions to you.</h3>
    </div>
    <div class="row services-container">
        <div class="col services">
            <div class="col pt-3 services-list mice" (click)="generalChangeText('WEB')">
                <img class="rounded float-start" src="./assets/web dev.png" alt="Web Dev">
                <p>Website Development</p>
            </div>
            <div class="col pt-3 services-list mice" (click)="generalChangeText('MOBILE')" >
                <img class="rounded float-start mice" src="./assets/mobile dev.png" alt="Web Dev">
                <p>Mobile App Development</p>
            </div>
            <div class="col pt-3 services-list mice" (click)="generalChangeText('CONTENT')">
                <img class="rounded float-start" src="./assets/content.png" alt="Web Dev">
                <p>Content Acquisition</p>
            </div>
            <div class="col pt-3 services-list mice" (click)="generalChangeText('MOBMARK')">
                <img class="rounded float-start" src="./assets/mobile mark.png" alt="Web Dev">
                <p>Mobile Marketing</p>
            </div>
            <div class="col pt-3 services-list mice" (click)="generalChangeText('INTERNET')">
                <img class="rounded float-start" src="./assets/Internet mark.png" alt="Web Dev">
                <p>Internet/Web Marketing</p>
            </div>
        </div>
        <div class="col describe-service">
                <p class="pt-5 px-3 text-center" >{{myText}}</p>
            </div>
    </div>
</div>
<footer class="foot">
  <div class="row footr rows">
    <div class="col">
      <img src="./assets/cloudfoot.jpg" alt="CB">
      <p class="footr-p">Nigeria's leading tech solutions company</p>
    </div>
    <div class="col">
      <h5>Company</h5>
      <a class="navli" routerLink="/services"><p style="color:white;">Services</p></a>
      <a><p>About Us</p></a>
      <a  class="navli" routerLink="/contact-us"><p style="color:white;">Contact</p></a>
    </div>
    <div class="col">
      <h5>Contact Us</h5>
      <a  href="tel:+2349036581855" target="_blank" ><p style="color:white;">+2348097937493</p></a>
      <a href="mailto:info@upperlink.ng" target="_blank" ><p style="color:white;">info@cloudbrick.com</p></a>
    </div>