header, body{
  /* padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem; */
  font-family: 'KoHo', sans-serif;
}
/* NavBar */
header img {
  margin-left: 70px ;
  width: 90px;
  height: 90px;
}
navbar-nav a {
  color:#8cc2fb; 
  font-weight: bolder
}
.navbar-btn{
  border-color: blue ;
}
/* Services */
.services-container{
  margin-top: 50px;
  width: 100%;
  
  position:relative;
}
.services-list {
  width: 350px;
  height: 60px;
  background-color: rgb(241 238 238);
  margin-bottom: 25px;
  box-sizing: border-box;
  border-radius:10px;
}
.services-list:hover {
  width: 350px;
  height: 90px;
  background-color: rgb(67, 67, 241);
  box-sizing: border-box;
  border-radius:20px;
}
.services-list p {
  display: inline;
  position: absolute;
  left: 100px;
}
.describe-service-container{
  width:50%;
  box-sizing: border-box;
  position: relative;

}
.describe-service{
background-color: rgb(241 238 238);
width:300px;
height:300px;
position:absolute;
top:5px;
left:200px;
}
.visit-us p{
  padding-left: 10px;
  color:blue;
}
/* footer */
footer{
  background-color: #4285f4;
  width:100%;
  height:250px;
}
.footer-contact{
  margin:40px 40px 40px;
}

footer h6{
  color:white;
}
footer p{
  color:yellow;
}
.services-list img {
  width: 30px;
  height: 30px;
}
div h3 {
  margin-top: 10px;
  width: 35%;
}
.line {
  margin-top: 10px;
  background-color: blue;
  width: 150px;
  height: 2px;
}
@media screen and (max-width:600px) {
  header, body{
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 3rem;
  }
  .services{
    flex-direction: column;
  }

  
  
}