<!-- NavBar -->
<header>
    <div>
        <div>
            <a routerLink="/home"><img src="./assets/logo.png"></a>
        </div>
    </div>

    <nav>
        <ul>
            <li class="nav-li"><a href="">ABOUT US</a></li>
            <li class="nav-li"><a routerLink="/services" >SERVICES</a></li>
            <li class="nav-lin"><a routerLink="/contact-us">CONTACT US</a></li>
        </ul>
    </nav>
</header>

<h6 class="container-head">GET IN TOUCH WITH US</h6>

<div class="contact-container">
    <div class="form-container">
        <form>
            <input type="text" placeholder="Name" class="form-input"><br>

            <input type="text" placeholder="Email-Address" class="form-input"><br>

            <select id="project-type" name="projectType" class="form-input">
                <option value="Project Type">Project Type</option>
                <option value="Web Application">Web Application</option>
                <option value="Mobile Application">Mobile Application</option>
                <option value="Mobile Marketing">Mobile Marketing</option>
                <option value="Internet/Web Marketing">Internet/Web Marketing</option>
            </select><br>

            <select id="budget" name="budget" type="text" class="form-input">
                <option value="budget">Budget</option>
                <option value="10,000-30,000">10,000-30,000</option>
                <option value="40,000-60,000">40,000-60,000</option>
                <option value="60,000-100,000">60,000-100,000</option>
            </select><br>

            <input type="text" placeholder="Send us a Message" style="height:60px; " class="form-input"><br>

            <input type="submit" value="Submit" class="form-button">

        </form>

    </div>
    <div class="visit-us-container">
        <div class="visit-us">
            <h6>Visit Us At:</h6>
            <p>ASSBIFI House,
                4 ASSBIFI Road, Central Business District,
                Alausa, Ikeja.
                Lagos.</p>
            <h6>Contact Us at:</h6>
            <p>
                Telephone: +234 903 658 1855 
            </p>
            <p>
                E-mail: info@upperlink.ng
            </p>
        </div>

    </div>
</div>
<div class="footer">

</div>