<!-- NavBar -->
<app-header></app-header>

<div class="line"></div>
<h6 class="container-head">GET IN TOUCH WITH US</h6>

  
    <div class="container mb-5">
        <div class="row">
            <div class="col-sm-6 mt-3">
              <div class="contact">
                <div class="card-body">
                  <form #userForm="ngForm"  class= "form-container" (ngSubmit)="submitClient(userForm);userForm.reset()">
                    <div class="form-group">
                    <input  required type="text" #name="ngModel" 
                    class="form-control " placeholder="Name" aria-label="Name" name="name" [(ngModel)]="client.name" >
                      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small></div>
                    <input type="email" class="form-control mt-2" placeholder="Email-Address" aria-label="Email-Address" name="email" [(ngModel)]="client.email" >
                    <select class="form-select form-control mt-2" required aria-label="Default select example" name="projectType" [(ngModel)]="client.projectType"  >
                        <option value="Project Type" disabled >Project Type</option>
                        <option value="Web Application">Web Application</option>
                        <option value="Mobile Application">Mobile Application</option>
                        <option value="Mobile Marketing">Mobile Marketing</option>
                        <option value="Internet/Web Marketing">Internet/Web Marketing</option>
                    </select>
                    <select class="form-select form-control mt-2" required aria-label="Default select example" name="budget" [(ngModel)]="client.budget" >
                        <option value="1" disabled >Budget</option>
                        <option value="$10,000-30,000">$10,000-30,000</option>
                        <option value="$40,000-60,000">$40,000-60,000</option>
                        <option value="$60,000-100,000">$60,000-100,000</option>
                    </select>
                    <input type="text" class="form-control mt-2" required placeholder="Send us a Message" style="height:60px;" aria-label="Message" name="message" [(ngModel)]="client.message" >
                  
                  <button type="submit"  [disabled]="userForm.invalid" class="btn form-button mt-2" >Submit</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mt-3">
              <div class="visit">
                <div class="card-body">
                  <h5 class="card-title">Visit Us At:</h5>
                  <a class="nav-link" href="https://goo.gl/maps/x9HcJdbmADVc9rvV7" target="_blank"><p class="card-text">
                    ASSBIFI House,
                    4 ASSBIFI Road, Central Business District,
                    Alausa, Ikeja.
                    Lagos.</p>
                  </a>
                  <h5 class="card-title">Contact Us At:</h5>
                  <p class="card-text">Telephone: <a  href="tel:+2349036581855" target="_blank" >+234 903 658 1855</a><p>
                    <p class="card-text">E-mail: <a  href="mailto:info@upperlink.ng" target="_blank" >info@cloudbrick.ng</a><p>    
               </div>
              </div>
            </div>
          </div>
    </div>
    <app-footer></app-footer>