header, body{
  /* padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem; */
  font-family: 'KoHo', sans-serif;
}
.rows{
  margin-right: 15px;
  margin-left: 15px;
}
.navli{
  text-decoration: none;
}
.mice{
  cursor: pointer;
}
/* NavBar */
header img {
  margin-left: 70px ;
  width: 90px;
  height: 90px;
}
navbar-nav a {
  color:#8cc2fb; 
  font-weight: bolder
}
.navbar-btn{
  border-color: blue ;
}
/* Contacts */
.container-head{
  margin-left: 120px;
    padding-top:20px;
    padding-bottom:20px;
    
  }
.contact {
  max-width: 400px;
  background-color: #4285f4;
  font-family: 'Quicksand', sans-serif;
}
.contact-container{
  width: 50%;
  height:500px;
  box-sizing: border-box;
  position:relative;
}
.form-container{
  background-color:blue;
  width: 350px;
  height:450px;
  position:absolute;
  
}
.form-input{
  border-radius: 5px;;
  border-style: none;
  margin:30px 30px 30px;
  width:17rem;
  
}

.form-button{
  border-style: none;
  border-radius: 200px;
  background-color: yellow;
  width:100%;
  color:#4285f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  /* margin-top: 10px; */
  /* margin-left: 100px; */
}

.visit {
  margin:auto;
  max-width: 350px;
  background-color: rgb(241 238 238);
}
.visit p {
  font-family: 'Quicksand', sans-serif;
}
.visit-us-container{
  width:50%;
  height:500px;
  box-sizing: border-box;
  position: relative;

}
.visit-us{
background-color: rgb(241 238 238);
width:300px;
height:300px;
position:absolute;
top:5px;
left:100px;
}
.visit-us h6 {
  margin-top: 5px;
  margin-left: 5px;
}
.visit-us p{
  padding-left: 10px;
  color:blue;
}
.line {
  margin-top: 10px;
  margin-left: 120px;
  background-color: #4285f4;
  width: 150px;
  height: 2px;
}
/* @media (max-width:1200px){
  .row{
    flex-direction:column;
  }
} */

/* footer */
.foot {
  background-color: #4285f4;
  margin-right: 0px;
  color: white;
  padding-bottom: 30px;
}
footer img {
  width: 90px;
  height: 90px;
  margin-top: 20px;
  margin-left: 20px;
}
.footr{
  padding-top: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
.footr h5 {
  font-weight: bold;
}
.footr-p{
  padding-left: 20px;
  padding-top: 20px;
}