header, body{
  /* padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem; */
  font-family: 'KoHo', sans-serif;
}
/* NavBar */
header img {
  margin-left: 70px ;
  width: 90px;
  height: 90px;
}
navbar-nav a {
  color:#8cc2fb; 
  font-weight: bolder
}
.navbar-btn{
  border-color: blue ;
}
/* what we provide */
.typewriter{
  font-family: 'KoHo', sans-serif;
  margin-top: 40px;
  overflow: hidden;
  animation:typing 5s steps(30, end), blink 1s step-end infinite;
  white-space:nowrap;
  box-sizing: border-box;
}
@keyframes typing{
  from{
    width:0%;
  }
  to{
    width:100%;
  }
}
/* .container p {
  color:blue;
  width:250px;
  font-weight: lighter;
} */
.container button {
  width: 7rem;
  height:3rem;
  background-color:#8cc2fb;
  border-color: white;
  border-radius:10px;
  border-style: none;
  font-weight: bold;
  margin-top: 20px;
  
}
.container button a{
  color:white;
  text-decoration: none;
}
.container button:hover {
  width: 7.3rem;
  height: 3.2rem;
  background-color: dodgerblue;
  font-size: large;   
}
.container img{
  /* width:34rem; */
  max-width: 150%;
  height: 450px;
}       
.image{
  width: 34rem;
  height: 450px;
}

/* Features */
.feature-box{
  text-align: center;
}
.feature-box h4{
  color:white;
}
.idea{
  width:80px;
  height:80px;
  border:white;
  background-color: white;
  border-radius: 50%;
  align-self: center;
}
.ideastory{
  color:white;
  text-align: center;
}
@media screen and (max-width:600px) {
  header, body{
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 3rem;
  }
  .typewriter{
    overflow: hidden;
    animation:typing 5s steps(30, end), blink 1s step-end infinite;
    white-space:pre-wrap;
    box-sizing: border-box;
  }
  @keyframes typing{
    from{
      width:0%;
    }
    to{
      width:100%;
    }
  }
  .container img{
    width:28rem;
    height:490px;
  }
}
@media screen and (max-width:1300px){
  header{
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 3rem;
  }
  body{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
  }
  .typewriter{
    overflow: hidden;
    animation:typing 5s steps(30, end), blink 1s step-end infinite;
    white-space:pre-wrap;
    box-sizing: border-box;
  }
  @keyframes typing{
    from{
      width:0%;
    }
    to{
      width:100%;
    }
  }
  .container img{
    margin-top: 5px;
  }
  
}
.processes {
  position: relative;
  color: white;
  text-align: center;
  padding-left: 0px;
}
.icons {
  margin-top: 15px;
  position: relative;
  padding-left: 95px;
  color: lightblue; 
  font-size: 50px; 
  max-width: 100%;
  
}
.firstp {
  margin-top: 20px;
  width:250px;
  font-weight: lighter;
}
footer {
  background-color: #8cc2fb;
}