<!-- NavBar -->
<header>
  <div>
    <div>
      <a routerLink="/home"><img src="./assets/logo.png"></a>
    </div>
  </div>
  <nav>
    <ul>
      <li class="nav-li"><a href="">ABOUT US</a></li>
      <li class="nav-li"><a routerLink="/services" >SERVICES</a></li>
      <li class="nav-lin"><a routerLink="/contact-us" >CONTACT US</a></li>
    </ul>
  </nav>
</header>
<!-- SectionA -->
<div id="section-a">
  <div class="theme">
    <h2>We Provide The Solutions You Need</h2>
    <p>We have one mission at CloudBrick
      to improve your company beyond your
      wildest dreams in the shortest time
      possible.
    </p>
    <button>
      Get Started
    </button>
  </div><br>
  <div class="theme-img">
    <img src="./assets/keyb.jpg" width="50%">
  </div>
</div>
<!-- SectionB -->
<div id="section-b">
  <div class="mission-flex">

  </div>
  <div class="mission-flex">

  </div>
  <div class="mission-flex">

  </div>
  <div class="mission-flex">

  </div>
  <div class="mission-flex">

  </div>
  <div class="mission-flex">

  </div>
</div>