header img {
  width: 120px;
  height:120px;
}
.firstp {
  width:250px;
  font-weight: lighter;
}
.container button {
  width: 7rem;
  height:3rem;
  border-color: white;
  border-radius:10px;
  border-style: none;
  font-weight: bold;
  
}
.container button a{
  color:white;
}
.container img{
  width:40rem;
  height:490px;
}
.processes {
  position: relative;
  color: white;
  text-align: center;
  padding-left: 0px;
}
.icons {
  position: relative;
  padding-left: 52px;
  color: lightblue; 
  font-size: 70px; 
  max-width: 100%;
}