<!-- NavBar -->
<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand active" routerLink="/home">
        <img src="./assets/cloudbrick.png">
      </a>
      <button (click)="isShown=!isShown" class="navbar-toggler navbar-btn" type="button" data-bs-toggle="collapse"
        href="#navbarNavAltMarkup" data-bs-targetg="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " [ngClass]="{ 'show': isShown }"
        id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" style="padding-right:80px; font-weight: bolder;" aria-current="page" href="#">ABOUT US</a>
          <a class="nav-link" style="padding-right:80px; font-weight: bolder;" routerLink="/services">SERVICES</a>
          <a class="nav-link" style="font-weight: bolder;" routerLink="/contact-us">CONTACT US</a>

        </div>
      </div>
    </div>
  </nav>
</header>
<!-- what we provide -->
  <div class="container">
    <div class="row">
      <div class="col " @slideInLeft>
        <h2 class="typewriter">Evolve Your Business With CloudBrick</h2>
        <p class="firstp">Using a secure and cost-effective means, CloudBrick aims at providing your business with the
          best tech solutions to get your projects up and running </p>
        <button>
          <a routerLink="/contact-us">Get Started</a>
        </button>
      </div>
      <div class="col image">
        <img src="./assets/Landing.svg">
      </div>
    </div>
  </div>
  <div>
    <div style="background-color:#4285f4; margin-top: 10em;">
      <div>
        <h3>CLOUDBRICK LIMITED - SOLUTIONS MADE EASY</h3>
      </div>
        <div class="rows h-100">
          <div class="col">
            <i class=" material-icons icons" onmouseover="this.style.color='white'"
              onmouseout="this.style.color='lightblue'">lightbulb</i>
            <h5 class="text-center text-white">Idea</h5>
            <p class="processes">We have one mission at CloudBrick: to improve your company beyond your wildest dreams in
              the shortest time possible</p>
          </div>
          <div class="col">
            <i class="material-icons icons" onmouseover="this.style.color='white'"
              onmouseout="this.style.color='lightblue'">grid_view</i>
            <h5 class="text-center text-white">Design</h5>
            <p class="processes">We have one mission at CloudBrick: to improve your company beyond your wildest dreams in
              the shortest time possible.</p>
          </div>
          <div class="col">
            <i class="material-icons icons" onmouseover="this.style.color='white'"
              onmouseout="this.style.color='lightblue'">developer_mode</i>
            <h5 class="text-center text-white">Development</h5>
            <p class="processes">We have one mission at CloudBrick: to improve your company beyond your wildest dreams in
              the shortest time possible.</p>
          </div>
          <div class="col">
            <i class="material-icons icons" onmouseover="this.style.color='white'"
              onmouseout="this.style.color='lightblue'">offline_bolt</i>
            <h5 class="text-center text-white">Testing</h5>
            <p class="processes">We have one mission at CloudBrick: to improve your company beyond your wildest dreams in
              the shortest time possible.</p>
          </div>
          <div class="col">
            <i class="material-icons icons" onmouseover="this.style.color='white'"
              onmouseout="this.style.color='lightblue'">timeline</i>
            <h5 class="text-center text-white">Deployment</h5>
            <p class="processes">We have one mission at CloudBrick: to improve your company beyond your wildest dreams in
              the shortest time possible.</p>
          </div>
        </div>
      </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="./assets/20.svg" alt="whatwedo">
        </div>
        <div class="col justify-content-center">
          <h4 style="font-family: 'KoHo', sans-serif; margin-left: 90px; margin-top:100px">WHAT WE DO</h4>
          <ul style="margin-left: 90px; margin-top: 20px;">
            <li>Mobile App Development</li>
            <li>Web Application</li>
            <li>Mobile Marketing</li>
            <li>Internet/Web Marketing</li>
          </ul>
        </div>
      </div>
    </div>
      <!-- About us -->
        <div style="background-color: lightgray;" class="row" id="about-us">
          <div class="col justify-content-center">
            <h5 style="font-family: 'KoHo', sans-serif; margin-left: 90px; margin-bottom:10px; margin-top:50px">GET TO KNOW US</h5>
            <p style="margin-left: 30px;">CloudBrick is a Mobile and Web Application Development and Digital Marketing Management that is also a new media provider offering an array of next-generation mobile solutions based on innovative technologies</p>
          </div>
          <div class="col">
            <img src="./assets/Team building.svg" alt="">
          </div>
        </div>
  </div>
      <footer>
        <p>Our footer to be continued...</p>
      </footer>
