<!-- NavBar -->
<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand active" routerLink="/home">
        <img src="./assets/cloudbrick.png">
      </a>
      <button (click)="isShown=!isShown" class="navbar-toggler navbar-btn" type="button" data-bs-toggle="collapse"
        href="#navbarNavAltMarkup" data-bs-targetg="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " [ngClass]="{ 'show': isShown }"
        id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link mice" style="padding-right:40px; font-weight: bolder;" aria-current="page" (click)="showUp()">ABOUT US</a>
          <a class="nav-link" style="padding-right:40px; font-weight: bolder;" routerLink="/services">SERVICES</a>
          <a class="nav-link" style="font-weight: bolder;" routerLink="/contact-us">CONTACT US</a>

        </div>
      </div>
    </div>
  </nav>
</header>

<!-- First section-->
<div>
  <div class="container box-size">
    <div class="row idea rows box-size">
      <div class="col">
        <h2 class="typewriter">
          Evolve Your Business With CloudBrick
        </h2>
        <p class="firstp">
          Using a secure and cost-effective means, CloudBrick aims at providing your business with the
          best tech solutions to get your projects up and running </p>
        <button class="box-size">
          <a routerLink="/contact-us">Get Started</a>
        </button>
      </div>
      <div class="col image">
        <img src="./assets/Landing.svg">
      </div>
    </div>
  </div>

  <!-- Features -->
    <div class="feature-container box-size">
      <!-- <div>
        <h3>CLOUDBRICK LIMITED - SOLUTIONS MADE EASY</h3>
      </div> -->
    <div class="row idea feature-box h-100">
      <div class="col-sm-five">
       <i class="material-icons icons" onmouseover="this.style.color='white'" onmouseout="this.style.color='lightblue'">lightbulb</i>
        <h5 class="text-center text-white">Idea</h5>
        <p class="processes">We have one mission at CloudBrick: to improve your company beyond your wildest dreams in
          the shortest time possible</p>
      </div>
      <div class="col-sm-five">
        <i class="material-icons icons" onmouseover="this.style.color='white'"
          onmouseout="this.style.color='lightblue'">grid_view</i>
        <h5 class="text-center text-white">Design</h5>
        <p class="processes">We have one mission at CloudBrick: to improve your company beyond your wildest dreams in
          the shortest time possible.</p>
      </div>
      <div class="col-sm-five">
        <i class="material-icons icons" onmouseover="this.style.color='white'"
          onmouseout="this.style.color='lightblue'">developer_mode</i>
        <h5 class="text-center text-white">Development</h5>
        <p class="processes">We have one mission at CloudBrick: to improve your company beyond your wildest dreams in
          the shortest time possible.</p>
      </div>
      <div class="col-sm-five">
        <i class="material-icons icons" onmouseover="this.style.color='white'"
          onmouseout="this.style.color='lightblue'">offline_bolt</i>
        <h5 class="text-center text-white">Testing</h5>
        <p class="processes">We have one mission at CloudBrick: to improve your company beyond your wildest dreams in
          the shortest time possible.</p>
      </div>
      <div class="col-sm-five">
        <i class="material-icons icons" onmouseover="this.style.color='white'"
          onmouseout="this.style.color='lightblue'">timeline</i>
        <h5 class="text-center text-white">Deployment</h5>
        <p class="processes">We have one mission at CloudBrick: to improve your company beyond your wildest dreams in
          the shortest time possible.</p>
      </div>
    </div>
  </div>  
  <div>
    <!-- what-we-do -->
    <div class="container">
      <div class="row rows idea">
        <div class="col">
          <img style="max-width:100%" src="./assets/20.svg" alt="whatwedo">
        </div>
        <div class="col justify-content-center">
          <h4 style="font-family: 'KoHo', sans-serif; margin-left: 90px; margin-top:100px">WHAT WE DO</h4>
          <ul class="wedo-ul">
            <li><span (click) = "toggleContent('MOBILE')">
              <i class="material-icons" onmouseover="this.style.color='#4285f4'" onmouseout="this.style.color='black'">expand_more</i>
              Mobile App Development
            </span>
            </li>
            <div *ngIf ="showContent[0]">
              <p class="details" >kdkldkj</p>
            </div>
            <li><span (click) = "toggleContent('WEB')">
              <i class="material-icons" onmouseover="this.style.color='#4285f4'" onmouseout="this.style.color='black'">expand_more</i>
              Web Application
            </span>
          </li>
            <div *ngIf ="showContent[1]">
              <p class="details" >kdkldkj</p>
            </div>
            <li><span (click) = "toggleContent('MOBMARK')">
              <i class="material-icons" onmouseover="this.style.color='#4285f4'" onmouseout="this.style.color='black'">expand_more</i>
              Mobile Marketing
            </span>
            </li>
            <div *ngIf ="showContent[2]">
              <p class="details" >kdkldkj</p>
            </div>
            <li><span (click) = "toggleContent('INTERNET')">
              <i class="material-icons" onmouseover="this.style.color='#4285f4'" onmouseout="this.style.color='black'">expand_more</i>
              Internet/Web Marketing
            </span>
            </li>
            <div *ngIf ="showContent[3]">
              <p class="details" >kdkldkj</p>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div style="background-color: lightgray;">

      <!-- About us -->
      <div class="row idea rows" id="about">
        <div class="col justify-content-center">
          <h5>GET TO KNOW US</h5>
          <p>
            CloudBrick is a Mobile and Web Application Development and Digital Marketing
            Management that is also a new media provider offering an array of next-generation mobile solutions based on
            innovative technologies</p>
        </div>
        <div class="col">
          <img style="max-width:100%" src="./assets/Team building.svg" alt="">
        </div>
      </div>


    </div>
  </div>
</div>

<footer class="foot">
  <div class="row footr rows">
    <div class="col">
      <img src="./assets/cloudfoot.jpg" alt="CB">
      <p class="footr-p">Nigeria's leading tech solutions company</p>
    </div>
    <div class="col">
      <h5>Company</h5>
      <a class="navli" routerLink="/services"><p style="color:white;">Services</p></a>
      <a><p>About Us</p></a>
      <a  class="navli" routerLink="/contact-us"><p style="color:white;">Contact</p></a>
    </div>
    <div class="col">
      <h5>Contact Us</h5>
      <a  href="tel:+2349036581855" target="_blank" ><p style="color:white;">+2348097937493</p></a>
      <a href="mailto:info@upperlink.ng" target="_blank" ><p style="color:white;">info@cloudbrick.com</p></a>
    </div>
  </div> 
</footer>