body{
    font-family: 'KoHo', sans-serif;
  }
  .flow{
    overflow: hidden;
  }
  .box-size{
    box-sizing: border-box;
  }
  .rows{
    margin-right: 15px;
    margin-left: 15px;
  }
  .navli{
    text-decoration: none;
  }
  .mice{
    cursor: pointer;
  }
/* footer */
.foot {
    background-color: #4285f4;
    margin-right: 0px;
    color: white;
    padding-top: 30px;
    padding-bottom: 35px;
  }
  footer img {
    width: 90px;
    height: 90px;
    margin-top: 3px;
    margin-left: 20px;
  }
  .footr{
    padding-top: 20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }
  .footr h5 {
    font-weight: bold;
    margin-top: 5px;
  }
  .footr-p{
    padding-left: 20px;
    padding-top: 20px;
  }
  .social-icons {
    display: flex;
    justify-content: center;
  }
  .copyright {
    padding-top: 45px;
    opacity: 0.5;
  }
  .news h5{
    font-weight: 200;
  }
  a {
    text-decoration: none;
  }
  .fa {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fa-twitter {
    background: #4285f4;
    color: white;
    transition: all 0.5s;
  }
  .fa-facebook {
    background: #4285f4;
    color: white;
    transition: all 0.5s;
  }
  .fa-instagram {
    background: #4285f4;
    color: white;
    transition: all 0.5s;
  }
  .fa-linkedin {
    background: #4285f4;
    color: white;
    transition: all 0.5s;
  }
  .fa-twitter:hover, .fa-facebook:hover, .fa-instagram:hover, .fa-linkedin:hover {
    opacity: 0.5;
  }
  .news-btn {
    background-color: yellow;
  }
  .input-group {
    background-color: white;
  }
  .frm {
    border:none;
    height: 46px;
  }
  .icons {
    font-size: 35px;
    color: black;
    margin-top: 5px;
  }

  @media screen and (max-width:600px) {
     body{
      padding-left: 0rem;
      padding-right: 0rem;
      padding-top: 3rem;
    }

    .container img{
      /* width:28rem; */
      max-width: 100%;
      height:490px;
    }
  }
  @media (max-width: 790px) {
    .footr {
      flex-direction: column;
    }
    }
  
    @media (max-width:1300px){
      body{
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 3rem;
      }
      .container img{
        margin-top: 5px;
      }
      
    }