<footer class="foot flow">
    <div class="row footr rows">
      <div class="col" data-aos="fade-left" data-aos-delay="800" data-aos-duration="1000">
        <img src="./assets/cloudfoot.jpg" alt="CB">
        <p class="footr-p">Nigeria's leading tech solutions company</p>
      </div>
      <div class="col" data-aos="fade-left" data-aos-delay="1600" data-aos-duration="1000">
        <h5>Company</h5>
        <a class="navli" routerLink="/services"><p style="color:white;">Services</p></a>
        <a [routerLink]="['/home']" fragment="about" (click)="showUp()" class="navli mice"><p style="color:white;">About Us</p></a>
        <a  class="navli" routerLink="/contact-us"><p style="color:white;">Contact</p></a>
      </div>
      <div class="col" data-aos="fade-left" data-aos-delay="2400" data-aos-duration="1000">
        <h5>Contact Us</h5>
        <a  href="tel:+2349036581855" target="_blank" ><p style="color:white;">+2348097937493</p></a>
        <a href="mailto:info@upperlink.ng" target="_blank" ><p style="color:white;">info@cloudbrick.com</p></a>
      </div>
    </div> 
  </footer>