<!-- NavBar -->
<nav >
    <ul class=" nav justify-content-start">
       <li class="nav-item">
           <a class="nav-link" href="index.html">
               <img src="./assets/logo.png" height="100em" width="100em">
            </a>
       </li> 
    </ul>
        <ul class="nav justify-content-end ">
            <li class="nav-item">
              <a class="nav-link "  href="#">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT US</a>
            </li>
          </ul>
</nav><br>

<div>
    
</div>